h1{
    border-bottom: solid 2px blue;
}

.layout_up{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.example1{
   width: 10%;
}

#graph{
   background-color: aqua;
}

.slider_sample1{
    width: 75%;
}